*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}

.banner{
    background-image: url("../donate-today/images/Untitled\ design.jpg")   ;
    background-repeat: no-repeat;
    width: 100%;
    height: 617px;
    background-size: cover;
}       
.banner .title{
    position: absolute;
    color: #ffffff;
    width: 691px;
    height: 56px;
    left: 330px;    
    top: 150px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    font-weight: 700;
    font-size: 60px;
    line-height: 79px;
    text-align: center;
}
.banner .sub-title{
    position: absolute;
    color: #ffffff;
    width: 691px;
    height: 56px;
    left: 330px;    
    top: 230px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    font-weight: 700;
    font-size: 60px;
    line-height: 79px;
    text-align: center;
}
.banner .title-description{
    position: absolute;
    width: 600px;
    color: #ffffff;
    height: 56px;
    left: 370px;
    top: 320px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
}
.btn-primary{
    position: absolute;
    width: 140px;
    height: 56px;
    font-size: 18px;
    left: 600px;
    top: 400px;
    color: #ffffff;
    cursor: pointer;    
    background: #f01d1d;
    border-radius: 5px;
}
/* donate styles */
.donate .donate-title{
    text-align: center;
    margin-top: 80px;
    font-size: 45px;
    font-weight: 700;
    color: #121212;
}
.donate .donate-description{
    text-align: center;
    font-size: 17px;
    width: 600px;
    height: 56px;
    margin-left: 365px;
    margin-top: 20px;
}
.donate .donate-price{
    display: flex;
    margin-top: 45px;
    gap: 22px;
    margin-left: 325px;
}
.donate .donate-price h4{
    background: #FAFAFA;
    width: 120px;
    height: 107px;
}
.donate .donate-price .one-hundred{
    text-align: center;
    padding-top: 39px;
    font-size: 25px;
    color: #707070;
    line-height: 36px;
    border-radius: 5px;
}
.donate .donate-price .two-hundred{
    text-align: center;
    padding-top: 39px;
    font-size: 25px;
    color: #FF5959;
    border: 2px solid #FF5959;
    background: #FFEEEE;
    border-radius: 5px;
}
.donate .donate-price .five-hundred{
    text-align: center;
    padding-top: 39px;
    font-size: 25px;
    color: #707070;
    line-height: 36px;
    border-radius: 5px;
}
.donate .donate-price .one-thousand{
    text-align: center;
    padding-top: 39px;
    font-size: 25px;
    color: #707070;
    line-height: 36px;
    border-radius: 5px;
}
.donate .donate-price .five-thousand{
    text-align: center;
    padding-top: 39px;
    font-size: 25px;
    color: #707070;
    line-height: 36px;
    border-radius: 5px;
}
/* donate taka */
.donate .donate-taka{
    text-align: center;
    margin-top: 60px;
    
}
.donate .donate-taka h2{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #B3B3B3;
    padding: .8rem;
    border-bottom: 2px solid #DADADA;
    width: 730px;
    margin-left: 300px;
}
.donate .donate-taka a{
    text-decoration: none;    
    background: #FF5959;
    color: #fff;
    padding: .9rem 1.5rem;
    font-size: 1rem;
    font-weight: 800;
    border-radius: .5rem;
    margin-right: 15px;
}
/* our donate plan css */
.donate-plan{
    margin-top: 120px;
    
}
.donate-plan .plan-title{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 45px;
}
.donate-plan .donate-plan-description{
    color: #707070;
    font-size: 17px;
    text-align: center;
    width: 620px;
    margin-left: 360px;
    margin-bottom: 50px;
}
.donate-plan .donate-plan-box{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.donate-plan .donate-plan-container{
    width: 360px;
    height: 352px;
    padding-top: 63.4px;
    padding-left: 24px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}
.donate-plan .donate-plan-container h3{
    padding-top: 32px;
    font-weight: 600;
    color: #121212;
    font-size: 20px;
}
.donate-plan .donate-plan-container .plan-description{
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    width: 310px;
    line-height: 24px;
}
.donate-plan .donate-plan-contain{
    width: 360px;
    height: 352px;
    padding-top: 63.4px;
    padding-left: 24px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}
.donate-plan .donate-plan-contain h3{
    padding-top: 32px;
    font-weight: 600;
    color: #121212;
    font-size: 20px;
}
.donate-plan .donate-plan-contain .plan-description{
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    width: 310px;
    line-height: 24px;
}
.donate-plan .donate-plan-contai{
    width: 360px;
    height: 352px;
    padding-top: 63.4px;
    padding-left: 24px;
    background: rgba(255, 196, 0, 0.178);
    border-radius: 5px;
}
.donate-plan .donate-plan-contai h3{
    padding-top: 32px;
    font-weight: 600;
    color: #121212;
    font-size: 20px;
}
.donate-plan .donate-plan-contai .plan-description{
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    width: 310px;
    line-height: 24px;
}
/* about section css */
.about{
    margin-top: 130px;
}
.about .about-section{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.about .about-section .about-box{
    width: 493px;
    height: 374px;
}
.about .about-section .about-box h2{
    font-size: 45px;
    font-weight: 700;
    color: #121212;
    margin-bottom: 20px;
}
.about .about-section .about-box .about-description{
    font-weight: 400;
    font-size: 17px;
    width: 390px;
    height: 84px;
    color: #707070;
}
.about .about-section .about-box p{
    font-weight: 400;
    font-size: 17px;
    width: 390px;
    height: 84px;
    color: #707070;
}
.about .about-section a{
    text-decoration: none;    
    background: #FF5959;
    color: #fff;
    padding: .9rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 15px;
}
.about .about-section .images img{
    width: 396px;
    height: 317px;
}
.about .about-section-container{
    display: flex;
    gap: 60px;
    justify-content: center;
}
.about .about-section-container .about-box{
    width: 493px;
    height: 374px;
    padding-left: 40px;
}
.about .about-section-container .about-box h2{
    font-size: 45px;
    font-weight: 700;
    width: 300px;
    height: 108px;
    color: #121212;
    margin-bottom: 20px;
}
.about .about-section-container .about-box .about-description{
    font-weight: 400;
    font-size: 17px;
    width: 390px;
    height: 84px;
    color: #707070;
}
.about .about-section-container .about-box p{
    font-weight: 400;
    font-size: 17px;
    width: 390px;
    height: 84px;
    color: #707070;
}
.about .about-section-container a{
    text-decoration: none;    
    background: #FF5959;
    color: #fff;
    padding: .9rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 15px;
}
.about .about-section-container .images img{
    width: 396px;
    height: 317px;
}
/* get my updates */
.get-update{
    margin-top: 130px;
}
.get-update h2{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
    color: #121212;
}
.get-update p{
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin: 0 auto;
    width: 600px;
    color: #707070;
    height: 56px;
    margin-bottom: 50px;
}
.get-update .container-box{
    display: flex;
    background: #FFF4D6;
    width: 809px;
    height: 200px;
    margin: 0 auto;
}
.get-update .container-box .get-update-box{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.get-update .container-box .get-update-box .box{
    padding: 12px 90px 12px 15px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
}
.get-update .container-box .get-update-box .box .email{
    font-weight: 500;
    font-size: 15px;
    color: #AA9F9F;
    text-align: center;
    margin-right: 100px;
}
.get-update .container-box .get-update-box .box1{
    padding: 12px 30px 13px 30px;
    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
}
.get-update .container-box .get-update-box .box1 .subscribe{
    font-weight: 500;
    font-size: 14px;
    color: #FFEEEE;
}
/* footer css */
.footer-box{
    margin-top: 130px;
    background: #0B0D17;
    height: 157px;
    
}
.footer-box .footer-container .footer-title{
    color: #FF5959; 
    padding-top: 44px;
    font-family: 'Lobster';
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.footer-box .footer-container .footer-description{
    color: #D9DBE1;
    text-align: center;
    font-size: 14px;
    font-family: 'Manrope';
}